# Copy this file to .env and update the values to match your deployment
PUID=1000
PGID=1000
TZ=Etc/UTC
SERVERURL=wg.example.com
SERVERPORT=51820
PEERS=1
PEERDNS=1.1.1.1
INTERNAL_SUBNET=10.13.13.0/24
ALLOWEDIPS=0.0.0.0/0
